@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Montserrat:wght@700;800&family=Roboto:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  background-color:#000;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: red;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

@media (max-width:800px) {
  .btn-secondary {
    margin: 0;
  
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  
}
@media (max-width:300px) {
  h1 {
    font-size: 25px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  
}