.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  
  color: rgb(141, 135, 135);
  margin-right: 20px;
}

.header a:hover {
  color: #000;
  font-weight: 500;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo :hover{
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(56deg) brightness(96%) contrast(104%);
}


@media (max-width: 800px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    width: 100vw;
    margin: 20px 0;
    flex-direction: row;
    justify-content: space-around;

  }
  .header a,.btn-secondary {
    margin: 10px;
  }

  .logo {
    margin: 20px 0;
  }
 
}
